@import url('./fonts.min.css');
@import url('../fa/fontawesome.min.css');



// Responsive
@function r($px) {
  @return 100vh * $px / 1440px;
}



$primary: #ffc107; // yellow
$secondary: #212121; // black

$alt: #ffa000; // darkerr yellow
$secalt: #fafafa; // white

$light: #ffd54f; // honey (hexs)
$dark: #ff6f00; // yellow-orange (shadows)

// pxs
$anchor: r(2000px);




* {
  font-family: 'Source Sans Pro', sans-serif;
  color: $secondary;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url('../images/hex.png');
  background-color: $primary;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    max-width: 50%;
  }
}

h1 {
  position: relative;
  top: r(-150px);
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  font-size: r(350px);
  font-weight: bold;
  text-shadow: r(20px) r(20px) $dark;
}

h2 {
  position: relative;
  top: r(-650px);
  font-family: 'Montserrat', sans-serif;
  font-size: r(125px);
  font-weight: normal;
  font-style: italic;
  letter-spacing: r(50px);
  text-shadow: r(2.5px) r(2.5px) $dark;
  opacity: 0;

  span {
    color: $dark;
    text-shadow: r(5px) r(5px) $secondary;
  }
}



#play {
  position: relative;
  top: r(-250px);
  cursor: pointer;
  background: $secondary;
  font-size: r(50px);
  padding: r(20px) r(80px);
  font-weight: 900;
  border: 0;
  border-radius: r(50px);
  box-shadow: r(2.5px) r(2.5px) $dark;
  opacity: 0;

  i {
    margin-left: r(10px);
  }

  &, & i {
    text-align: center;
    color: $primary;
  }
}



#game {
  visibility: hidden;
  min-width: $anchor;
  max-width: $anchor;
}

h3 {
  position: relative;
  top: r(10px);
  display: inline-block;
  font-weight: 700;
  font-size: r(50px);
  background-color: $secondary;
  color: $secalt;
  min-width: $anchor;
  max-width: $anchor;
  padding: r(50px);
  text-align: center;
  border-radius: r(25px);
  box-shadow: r(5px) r(5px) $dark;
  margin-top: r(10px);
}

#answers {
  position: relative;
  top: r(25px);
  background-color: $light;
  border-radius: r(25px);
  display: grid;
  grid-template-columns: repeat(4, $anchor / 4);
  grid-template-rows: r(600px);
  grid-column-gap: r(3px);
  box-shadow: r(5px) r(5px) $dark;
  min-width: $anchor + r(9px);
  max-width: $anchor + r(9px);

  .answer {
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    min-width: $anchor / 4;
    max-width: $anchor / 4;

    p {
      font-weight: 600;
      text-align: center;
      font-size: r(50px);
      color: $secalt;
      max-width: 75%;
    }



    &:nth-child(1) {
      border-top-left-radius: r(25px);
      border-bottom-left-radius: r(25px);
    }
    &:nth-child(4) {
      border-top-right-radius: r(25px);
      border-bottom-right-radius: r(25px);
    }
  }
}



#counter {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    background-color: $secondary;
    color: $secalt;
    box-shadow: r(1.5px) r(1.5px) $dark;
    min-width: r(50px);
    min-height: r(50px);
    border-radius: 50%;
    text-align: center;
    padding: r(15px);
    font-size: r(40px);
    margin: 0 r(5px);

    &::before {
      position: relative;
      top: r(5px);
    }
  }
}
